.header {
    background-image: url("../../assets/Rectangle\ 1.png");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header a {
    color: black;
}

.carousel img {
    width: 350px;
    height: 400px;
}

.hero-left {
    margin-top: 150px;
}

.hero-left h2, p{
    color: #333;
}