.header {
    background-image: url("../../assets/Rectangle\ 1.png");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header a {
    color: black;
}